.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 30%;
    width: 60%;
    max-width: 600px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.174);
    border-radius: 20px;
    gap: 30px;
    padding: 10px;
    animation: fadeSlideIn 0.6s ease-out forwards;
}
@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.dashboard-item{
    display: flex;
    gap: 20px;
    width: 80%;
    justify-content: space-between;
}
.dashboard-up{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.174);
    border-radius: 10px;
    width: 45%;
    border: 2px solid var(--primary);
    font-size: large;
    p, h1{
        margin:0;
    }

}
.dashboard-stats{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.dashboard-graph{
    width: 100%;
    box-sizing: border-box;
    height: 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.174);
    border-radius: 10px;
    padding: 10px;
}
.dashboard-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.dashboard-button{
    width: 50%;
    height: auto;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.174);
    background-color: var(--primary);
    padding: 20px;
    transition: all 0.3s ease-in-out; 
    text-decoration: none;
    color: black;  
    text-align: center;
    font-size: medium;
}
.dashboard-button:hover{
    cursor: pointer;
    background-color: var(--primary-hover);
}
.dashboard-button:active{
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.174);
}